In [7]:
my_iterable = [1,2,3,4,5,6,7,8,9,10]
for num in my_iterable:
    print(num, 'hello')

1 hello
2 hello
3 hello
4 hello
5 hello
6 hello
7 hello
8 hello
9 hello
10 hello

In [10]:
for num in my_iterable:
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [12]:
list_sum = 0

for num in my_iterable:
    list_sum = list_sum + num
    
print(list_sum)

55

In [13]:
mystring = 'hello world'
for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [14]:
for _ in 'cool':
    print(_)

c
o
o
l

In [15]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [16]:
mylist = [(1,2),(3,4),(5,6)]
len(mylist)

3

In [20]:
for a,b in mylist:
#     print(a)
    print(b)

2
4
6

This is called tuple unpacking!

In [22]:
mylist = [(1,2,3), (5,6,7)]
for a, b, c in mylist:
    print(b)

2
6

In [23]:
d = {
    'k1':1,
    'k2':2,
    'k3':3
}

for item in d:
    print(item)

k1
k2
k3

In [25]:
d = {
    'k1':1,
    'k2':2,
    'k3':3
}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [26]:
d = {
    'k1':1,
    'k2':2,
    'k3':3
}

for key,value in d.items():
    print(value)

1
2
3