In [1]:
mylist = []
mystring = 'hello'

for letter in mystring:
    mylist.append(letter)
    
mylist

['h', 'e', 'l', 'l', 'o']

In [2]:
mystring = 'hello'

mylist = [letter for letter in mystring]

In [3]:
mylist

['h', 'e', 'l', 'l', 'o']

In [4]:
mylist = [x for x in 'word']

mylist

['w', 'o', 'r', 'd']

In [5]:
mylist = [num for num in range(0,11)]

In [6]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
mylist = [num**2 for num in range(0,11)]

In [8]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [10]:
mylist = [num**2 for num in range(0,11) if num%2 == 0]

In [11]:
mylist

[0, 4, 16, 36, 64, 100]

In [12]:
celcius = [0, 10, 20, 39]

fer = [( (9/5)*temp + 32) for temp in celcius]

In [13]:
fer

[32.0, 50.0, 68.0, 102.2]

In [ ]:
mylist = []

for x in [2,3,5]:
    for y in [100,200,300]:
        mylist.append(x)